<!-- Navbar Top -->
<nav class="navbar navbar-expand-lg dip-dk-grey-bg dip-br-0 dip-nav-h-5 fixed-top">
  <img class="this-logo" src="">
  <button class="navbar-toggler dip-blue-bdr" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars dip-blue"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item mx-3 dip-pointer">
        <a class="nav-link dip-blue" onclick="">
          <i class="fas fa-book"></i> Placeholder
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- /.Navbar Top -->
